* {margin: 0; padding: 0; font-family: 'Spoqa Han Sans Neo', 'sans-serif';}
li {list-style: none;}
a {color: black; text-decoration: none;}
img {display: block;}

@media all and (min-width: 321px) {
  #m_lnb {display: none;}
  #m_lnb ~.gnb .m_gnb_icon .lab_m_lnb_open {display: block;}
  #m_lnb ~.lnb_box {display: none;}
  #m_lnb ~.gnb .m_gnb_icon .lab_m_lnb_close {display: none;}
  #m_lnb:checked ~.gnb .m_gnb_icon .lab_m_lnb_close,
  #m_lnb:checked ~.lnb_box {
    display: block;
  }
  #m_lnb:checked ~.lnb_box .m_lnb_box a {
    display: block;
  }
  #m_lnb ~.lnb_box .m_lnb_box a {
    display: none;
  }
  
  #m_lnb:checked ~.gnb .m_gnb_icon .user_icon, 
  #m_lnb:checked ~.gnb .m_gnb_icon .heart_icon, 
  #m_lnb:checked ~.gnb .m_gnb_icon .btn_box,
  #m_lnb:checked ~.gnb .m_gnb_icon .lab_m_lnb_open {
    display: none;
  }
  #m_lnb:checked ~ .lnb_box {
    width: 100%; opacity: 1;
    right: 0;
    z-index: 9999;
  }
  #m_lnb:checked ~.visual_main_box{
    display: none;
  }
  #rad_lnb01, #rad_lnb02, #rad_lnb03, #rad_lnb04, #rad_lnb05, #rad_lnb06, #rad_lnb07 {display: none;}

  #rad_lnb01:checked ~.m_lnb01,
  #rad_lnb02:checked ~.m_lnb02,
  #rad_lnb03:checked ~.m_lnb03,
  #rad_lnb04:checked ~.m_lnb04,
  #rad_lnb05:checked ~.m_lnb05,
  #rad_lnb06:checked ~.m_lnb06,
  #rad_lnb07:checked ~.m_lnb07 {
  display: block;
  }

  .m_lnb01, .m_lnb02, .m_lnb03, .m_lnb04, .m_lnb05, .m_lnb06, .m_lnb07 {display: none;}
  .header {
    width: 100%; height: 40px;
    margin-top: 10px; 
   
  }
  #m_search {display: none;}
  #m_search ~.gnb .m_search_box {display: none;} 
  #m_search:checked ~.gnb .m_search_box {display: block;} 

  .header {
    width: 100%; height: 40px;
  }
  .header .logo_box {
    width: 140px; float: left;
    margin-left: 4px;
  }
  .header .logo_box img {
    width: 100%;
  }
  .header .gnb {
    height: 40px;
  }
  .header .m_gnb_icon {
    width: 160px;
    float: right;
    margin-right: 4px;
    position: relative;
  }
  .header .m_gnb_icon li {
    width: 20px;
    margin: 0 8px;
    font-size: 1.5rem;
  }
  .header .m_gnb_icon .user_icon {
    position: absolute;
    top: 0; left: 0;
  }
  .header .m_gnb_icon .heart_icon {
    position: absolute;
    top: 0; left: 40px;
  }
  .header .m_gnb_icon .btn_box {
    position: absolute;
    top: 0; left: 100px;
  }
  .header .m_gnb_icon label {
    width: 40px;
    float: right;
  }
  .header .gnb .m_search_box {
    width: 100%; height: 40px;
    background-color: black;
    position: absolute;
    top: 50px;
    z-index: 9999;
  }
  .header .gnb .m_search_box .blank {
    width: 95%; height: 30px;
    background-color: white;
    border-radius: 4px;
    margin: 0 auto;
    margin-top: 4px;
  }
  .header .gnb .m_search_box .blank .input {
    width: 90%; height: 30px;
    border: none;
    border-radius: 4px;
    margin-right: 4px;
    text-indent: 8px;
  }


  .header .w_gnb {
    display: none;
  }
  .header .lnb_box {
    background-color: white;
    opacity: 0;
    position: absolute;
    top: 50px; right: 120%;
  }
  .lnb_box .m_gnb {
    overflow: hidden;
  }
  .header .lnb_box .m_gnb li {
    width: 25%; height: 40px;
    text-align: center;
    line-height: 40px;
    float: left;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  .header .lnb_box .m_gnb li a{
    display: block;
  }
  .header .lnb_box .m_gnb li:first-child,
  .header .lnb_box .m_gnb li:nth-child(2),
  .header .lnb_box .m_gnb li:nth-child(3) {
    border-right: none;
  }
  .header .lnb_box .m_schedule {
    display: flex;
  }
  .header .lnb_box .m_schedule a {
    display: block;
  }
  .header .lnb_box .m_schedule div {  
    border: 1px solid #ccc;
    box-sizing: border-box;
    width: 50%;
    border-bottom: none;
    border-top: none;
  }
  .header .lnb_box .m_schedule div:first-child {
    border-right: none;
  }
  .header .lnb_box .m_schedule .schedule {
    text-align: center;
    line-height: 40px;
  }
  .header .lnb_box .m_schedule .sns_icon {
    display: flex;
  }
  
  .m_schedule .sns_icon p {
    width: 33%; height: 40px;
    
  }
  .lnb {
    display: none;
    width: 100%;
    background-color: white;
  }
  .lnb_box .m_lnb_box {
    width: 100%; 
  }

  .lnb_box .m_lnb_box .lab_mlnb {
    display: flex;
    width: 100%; height: 40px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    line-height: 40px;
  }
  .lnb_box .m_lnb_box .mlnb_title {
    width: 90%;
    text-indent: 16px;
    float: left;
  }
  .lnb_box .m_lnb_box .mlnb_icon {
    width: 10%;
    float: left;
    font-size: 20px;
  }
  .lnb_box .m_lnb_box .m_lnbsheet li {
    width: 100%; height: 30px;
    text-indent: 24px;
    line-height: 30px;
    border: 1px solid #eee;
    transition: all 0.2;
  }
  .lnb_box .m_lnb_box .m_lnbsheet li a {
    display: block;
  }
  .scroll_lnb {
    display: none;
  }

  
  /*------visualmain------*/
  .visual_main_box {
    width: 100%;
    overflow-y: hidden;
    position: relative;
  }
  .visual_main_box .visual_main {
    width: 400%; 
    display: flex;
  }

  .visual_main_box .visual_main .page {
    width: 96%;
    position: absolute;
    bottom: 4px;
    text-align: right;
    color: #ccc;
  }
  .visual_main_box .visual_main .page04 {
    color: black;
  }
  .sv_indi_box {
    display: none;
  }
  .vs_indi {
    display: none;
  }
  .vs_bar {
    display: none;
  }
  /*-----metaphor-----*/
  .metaphor_box {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .metaphor_box img {
    width: 100%;
  }
  .metaphor_box .flex_box {
    width: 33%;
    position: relative;
  }
  .metaphor_box .metaphor01 {
    width: 90%;
    display: flex;
    margin: 0 auto;
  }

  .metaphor_box .img_box {
    width: 70px; height: 70px;
    border: 3px solid #666;
    border-radius: 50%;
    margin: 0 auto;
    position: relative;
  }
  .metaphor_box .inner_box {
    width: 50px; height: 50px;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-25px, -25px);
  }
  .metaphor_box p {
    text-align: center;
    font-size: 0.8rem;
  }
  .metaphor_box .metaphor02 {
    width: 90%;
    display: flex;
    margin: 0 auto;
  }
/*-------movie_list-------*/

.m_movie_list {
  width: 98%; height: 400px;
  margin: 0 auto;
}
.m_movie_list .m_movie_title {
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
  font-size: 1.3rem;
}

.m_movie_list .week_box {
  width: 100%; height: 50px;
  border: 1px solid rgb(49, 49, 146);
  box-sizing: border-box;
  background-color: rgb(49, 49, 146);
  color: white;
  font-size: 1.5rem;
  font-weight: lighter;
  position: relative;
}
.m_movie_list .week_box .l_arr {
  position: absolute;
  top: 8px; left: 10px;
}
.m_movie_list .week_box .r_arr {
  position: absolute;
  top: 8px; right: 10px;
}

.m_movie_list .m_movie_box .movie_title_box .week_movie {
  height: 280px;
  position: relative;
}
.m_movie_list .m_movie_box .movie_title_box .week_movie .down_arr {
  position: absolute;
  bottom: 0; left: 50%;
  font-size: 1.5rem;
  color: #ccc;
}

.tablet_poster_box {
  display: none;
}

.m_movie_box {
  width: 100%;
  position: relative;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.m_movie_box .movie_contents_box {
  width: 90%; height: 300px;
  overflow-y: hidden;
  position: absolute;
  top: 0; left: 50%;
  transform: translateX(-50%);
}
.movie_contents_box .movie_contents {
  width: 500%;
  display: flex;
}
.m_movie_box .movie_contents img {
  width: 100%;
}
.m_movie_box .movie_contents .age {
  width: 20px;
  float: left;
} 
.m_movie_box .movie_contents>div {
  position: relative;
  width: 100%;
}
.m_movie_box .movie_contents .week_txt {
  position: absolute;
  top: 13px; left: 50%;
  transform: translateX(-50%);
  color: white;
}
.m_movie_box .movie_contents .week_movie_txt {
  width: 100%; height: 240px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  overflow-x: hidden;
  position: absolute;
  top: 60px; left: 50%;
  transform: translateX(-50%);
}
.m_movie_box .movie_contents .week_movie_txt li a {
  display: block;
  width: 100%; height: 40px;
  overflow: hidden;
}
.m_movie_box .movie_contents .week_movie_title {
  width: 90%;
  float: left;
  font-size: 0.9rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.w_movie_list {
  display: none;
}
/*--------trailer--------*/

  .trailer_section {
    width: 100%;
    background-color: #caecee;
    padding-top: 40px;
    padding-bottom: 20px;
  }
  .trailer_section .trailer {
    margin: 0 auto;
  }
  .trailer .movie_box video {
    width: 100%;
  }
  .trailer .trailer_txt_box {
    width: 100%;
    margin-top: 10px;
  }
  .trailer .trailer_title {
    font-weight: bold;
    font-size: 1.3rem;
    margin-left: 10px;
  }
  .trailer .trailer_txt {
    margin: 10px;
  }
  .trailer .trailer_title span {
    font-weight: normal;
    font-size: 1.2rem;
    color: rgb(49, 49, 146) ;
  }
  /*-----recommand_program------*/
  #chk_heart01, #chk_heart02, #chk_heart03, #chk_heart04, #chk_heart05, #chk_heart06, #chk_heart07, #chk_heart08, #chk_heart09, #chk_heart10, #chk_heart11, #chk_heart12, #chk_heart13, #chk_heart14, #chk_heart15, #chk_heart16, #chk_heart17, #chk_heart18, #chk_heart19, #chk_heart20, #chk_heart21, #chk_heart22, #chk_heart23, #chk_heart24, #chk_heart25, #chk_heart26, #chk_heart27, #chk_heart28, #chk_heart29, #chk_heart30 {display: none;}

  #chk_heart01 ~.heart_box .full_heart,
  #chk_heart02 ~.heart_box .full_heart,
  #chk_heart03 ~.heart_box .full_heart,
  #chk_heart04 ~.heart_box .full_heart,
  #chk_heart05 ~.heart_box .full_heart,
  #chk_heart06 ~.heart_box .full_heart,
  #chk_heart07 ~.heart_box .full_heart,
  #chk_heart08 ~.heart_box .full_heart,
  #chk_heart09 ~.heart_box .full_heart, 
  #chk_heart10 ~.heart_box .full_heart,
  #chk_heart11 ~.heart_box .full_heart,
  #chk_heart12 ~.heart_box .full_heart,   
  #chk_heart13 ~.heart_box .full_heart,   
  #chk_heart14 ~.heart_box .full_heart,   
  #chk_heart15 ~.heart_box .full_heart,  
  #chk_heart16 ~.heart_box .full_heart,
  #chk_heart17 ~.heart_box .full_heart,
  #chk_heart18 ~.heart_box .full_heart,
  #chk_heart19 ~.heart_box .full_heart,
  #chk_heart20 ~.heart_box .full_heart,
  #chk_heart21 ~.heart_box .full_heart,
  #chk_heart22 ~.heart_box .full_heart, 
  #chk_heart23 ~.heart_box .full_heart,
  #chk_heart24 ~.heart_box .full_heart,
  #chk_heart25 ~.heart_box .full_heart, 
  #chk_heart26 ~.heart_box .full_heart,
  #chk_heart27 ~.heart_box .full_heart,
  #chk_heart28 ~.heart_box .full_heart,
  #chk_heart29 ~.heart_box .full_heart,
  #chk_heart30 ~.heart_box .full_heart {display: none;}
  

  #chk_heart01:checked ~.heart_box .heart, 
  #chk_heart02:checked ~.heart_box .heart, 
  #chk_heart03:checked ~.heart_box .heart,
  #chk_heart04:checked ~.heart_box .heart, 
  #chk_heart05:checked ~.heart_box .heart, 
  #chk_heart06:checked ~.heart_box .heart,
  #chk_heart07:checked ~.heart_box .heart, 
  #chk_heart08:checked ~.heart_box .heart, 
  #chk_heart09:checked ~.heart_box .heart,
  #chk_heart10:checked ~.heart_box .heart, 
  #chk_heart11:checked ~.heart_box .heart, 
  #chk_heart12:checked ~.heart_box .heart,
  #chk_heart13:checked ~.heart_box .heart, 
  #chk_heart14:checked ~.heart_box .heart, 
  #chk_heart15:checked ~.heart_box .heart,
  #chk_heart16:checked ~.heart_box .heart,
  #chk_heart17:checked ~.heart_box .heart, 
  #chk_heart18:checked ~.heart_box .heart, 
  #chk_heart19:checked ~.heart_box .heart,
  #chk_heart20:checked ~.heart_box .heart, 
  #chk_heart21:checked ~.heart_box .heart, 
  #chk_heart22:checked ~.heart_box .heart, 
  #chk_heart23:checked ~.heart_box .heart, 
  #chk_heart24:checked ~.heart_box .heart, 
  #chk_heart25:checked ~.heart_box .heart,
  #chk_heart26:checked ~.heart_box .heart, 
  #chk_heart27:checked ~.heart_box .heart, 
  #chk_heart28:checked ~.heart_box .heart,
  #chk_heart29:checked ~.heart_box .heart, 
  #chk_heart30:checked ~.heart_box .heart {display: none;}

  #chk_heart01:checked ~.heart_box .full_heart, 
  #chk_heart02:checked ~.heart_box .full_heart,
  #chk_heart03:checked ~.heart_box .full_heart,
  #chk_heart04:checked ~.heart_box .full_heart, 
  #chk_heart05:checked ~.heart_box .full_heart,
  #chk_heart06:checked ~.heart_box .full_heart,
  #chk_heart07:checked ~.heart_box .full_heart, 
  #chk_heart08:checked ~.heart_box .full_heart,
  #chk_heart09:checked ~.heart_box .full_heart,
  #chk_heart10:checked ~.heart_box .full_heart, 
  #chk_heart11:checked ~.heart_box .full_heart,
  #chk_heart12:checked ~.heart_box .full_heart,
  #chk_heart13:checked ~.heart_box .full_heart, 
  #chk_heart14:checked ~.heart_box .full_heart,
  #chk_heart15:checked ~.heart_box .full_heart,
  #chk_heart16:checked ~.heart_box .full_heart,
  #chk_heart17:checked ~.heart_box .full_heart, 
  #chk_heart18:checked ~.heart_box .full_heart,
  #chk_heart19:checked ~.heart_box .full_heart,
  #chk_heart20:checked ~.heart_box .full_heart, 
  #chk_heart21:checked ~.heart_box .full_heart,
  #chk_heart22:checked ~.heart_box .full_heart,
  #chk_heart23:checked ~.heart_box .full_heart, 
  #chk_heart24:checked ~.heart_box .full_heart,
  #chk_heart25:checked ~.heart_box .full_heart,
  #chk_heart26:checked ~.heart_box .full_heart, 
  #chk_heart27:checked ~.heart_box .full_heart,
  #chk_heart28:checked ~.heart_box .full_heart,
  #chk_heart29:checked ~.heart_box .full_heart,
  #chk_heart30:checked ~.heart_box .full_heart {display: block;}

  .recommend_program {
    width: 100%; height: 650px;
    margin-top: 40px;
    margin-bottom: 100px;
    overflow-y: hidden;
  }

  .recommend_program .rec_title {
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 1.3rem;
  }
  .recommend_program .rec_pro_top {
    width: 100%;
    margin-bottom: 20px;
  }
  .recommend_program .rec_pro_top .program_tab {
    width: 290px; 
    display: flex;
    margin: 0 auto;
  }
  .recommend_program .rec_pro_top .program_tab li {
    width: 100px; height: 30px;
    border: 1px solid #ccc;
    border-radius: 15px;
    text-align: center;
    line-height: 30px;
    font-size: 0.8 rem;
    cursor: pointer;
  }
  .recommend_program .rec_pro_top .program_tab li:hover {
    border: 1px solid rgb(49, 49, 146);
  }
  .recommend_program .rec_pro_top .program_tab li:nth-child(2) {
    margin: 0 10px;
  }
  .recommend_program .rec_pro_top .program_tab li.show {
    border: none;
    background-color: rgb(49, 49, 146);
    color: #fff;
  }
  .recommend_program .rec_pro_top .program_tab li:active {
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  }
  .recommend_program .rec_pro_top .btn_box {
    display: none;
  }

  .recommend_program .program_outter {
    width: 100%; 
    padding-top: 70%;
    background-color: #eee;
    position: relative;
  }
  .recommend_program .program_outter .program_sheet>div {
    display: none;
  }
  .recommend_program .program_outter .program_sheet .show_sheet {
    display: block;
    width: 98%;
    overflow-y: hidden;
    position: absolute;
    top: 20px; left: 0;
  }
  .recommend_program .movie_pro_box {
    width: 800%;
    display: flex;
  }
  .recommend_program .concert_pro_box {
    width: 600%;
    display: flex;
  }
  .recommend_program .exhibition_pro_box {
    width: 100%;
    display: flex;
  }
  .recommend_program .movie_pro,
  .recommend_program .concert_pro
   {
    width: 45%;
    margin-left: 10px;
    font-size: 0.9rem;
  }
  .recommend_program .exhibition_pro {
    width: 50%;
    margin-left: 10px;
    font-size: 0.9rem;
  }
  .recommend_program .movie_pro:last-child,
  .recommend_program .concert_pro:last-child,
  .recommend_program .exhibition_pro:last-child {
    margin-right: 10px;
  }
  
  .recommend_program .program_sheet .title {
    width: 180px;
    margin: 0 auto;
    text-align: center;
    font-weight: bold;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding-bottom: 10px;
  }
  .recommend_program .period {
    text-align: center;
    padding-bottom: 10px;
  }
  .recommend_program img {
    width: 100%;
  }
  .recommend_program .heart_box {
    position: relative;
  }
  .recommend_program .heart_box label {
    position: absolute;
    top: 2%; right: 4%;
    font-size: 2rem;
  }
  .recommend_program .movie_pro:nth-child(6) .heart_box label,
  .recommend_program .movie_pro:nth-child(13) .heart_box label,
  .recommend_program .concert_pro:nth-child(12) .heart_box label,
  .recommend_program .exhibition_pro .heart_box label {
    color: white;
  }
 
  .recommend_program .contents_btn {
    display: flex;
  }
  .recommend_program .contents_btn div{
    width: 50%; height: 30px;
    border: 1px solid #ccc;
    border-radius: 15px;
    margin: 4px;
    text-align: center;
    line-height: 30px;
  }
  .recommend_program .btn_reserve 
  {
    background-color: rgb(49, 49, 146);
    color: white;
  }

  .movie_pro .contents_btn .btn_more,
  .concert_pro .contents_btn .btn_more{
    background-color: #eee;
  }

  .recommend_program .poster_img {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  }
  /*--------critic----------*/
  .critic_section {
    width: 100%;
    padding-top: 40px;
    margin-bottom: 80px;
  }
  .critic_section .critic_top_box {
    display: none;
  }
  .critic_section .critic_title {
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 1.3rem;
  }
  .critic_section .critic_sheet {
    width: 97%; 
    margin: 0 auto;
    margin-bottom: 40px;
  }
  .critic_section .critic_sheet img {
    width: 100%;
  }
  .critic_section .critic_sheet .critic_34 {
    display: none;
  }
  .critic_section .critic {
    display: flex; 
    padding-top: 50%;
    overflow: hidden;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    margin: 10px 0;
  }
  .critic_section .critic .img_box {
    width: 50%;
    position: absolute;
    top: 0; left: 0;
    overflow: hidden;
  }
  .critic_section .critic .img_box:hover {
    transform: scale(1.05);
  }
  .critic_section .critic .txt_box {
    width: 50%;
    position: absolute;
    top: 0; right: 0;
    
  }
  .critic_section .critic .txt_box .txt_innerbox {
    width: 95%;
    padding: 10px;
  }
  .critic_section .critic .txt_box .txt_innerbox span {
    font-size: 0.9rem;
  }
  .critic_section .critic .txt_box .txt_innerbox .txt {
    font-size: 0.8rem;
    margin-top: 8px;
    padding-right: 8px;
  }
  .critic_section .m_btn {
    width: 80px; height: 30px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 15px;
    text-align: center;
    line-height: 30px;
    margin: 0 auto;
  }
  .critic_56, 
  .critic_78, 
  .critic_910, 
  .critic_1112, 
  .critic_1314, 
  .critic_1516, 
  .critic_1718, 
  .critic_1920 {
    display: none;
  }
  /*---------event---------*/
  .event_section {
    width: 100%;
    margin-bottom: 80px;
  }
  .event_section .event_title {
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 1.3rem;
  }
  .event_section .event_top_box {
    display: none;
  }

  .event_section .event {
    width: 97%;
    margin: 0 auto;
    padding-top: 29.25%;
    overflow-y: hidden;
    position: relative;
  }
  .event_section .event .event_slide {
    width: 810%;
    display: flex;
    position: absolute;
    top: 0; left: 0;
  }
  .event_section .event .img_box {
    width: 90%;
    margin-right: 10px;
  }
  .event_section .event .img_box:last-child {
    margin-right: 0;
  }
  .event_section .event img {
    width: 100%;
  }


  /*--------sns_section----------*/
  .sns_section {
    width: 100% ;
    margin-bottom: 100px;
  }
  .sns_section .sns_title {
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 1.3rem;
  }
  .sns_sheet img {
    width: 100%;
  }
  .sns_sheet .sns_sheet01 {
    width: 100%;

  }
  .sns_sheet .sns_sheet01 .sns12 {
    display: flex;
  }
  .sns_sheet .sns_sheet01 .sns34 {
    display: flex;
  }
  .sns_section .sns_sheet .sns_sheet01 .sns12 .sns01,
  .sns_section .sns_sheet .sns_sheet01 .sns12 .sns02,
  .sns_section .sns_sheet .sns_sheet01 .sns34 .sns03,
  .sns_section .sns_sheet .sns_sheet01 .sns34 .sns04 {
    position: relative;
  }
  .sns_sheet .sns_sheet01 .sns_tag {
    width: 130px; height: 30px;
    background-color: rgba(0, 0, 0, 0.6);
    position: relative;
  }

  .sns_section .sns_sheet .sns_sheet01 .sns12 .sns01 .sns_tag,
  .sns_section .sns_sheet .sns_sheet01 .sns12 .sns02 .sns_tag,
  .sns_section .sns_sheet .sns_sheet01 .sns34 .sns03 .sns_tag,
  .sns_section .sns_sheet .sns_sheet01 .sns34 .sns04 .sns_tag 
  {
    position: absolute;
    top: 8px; left: 8px;
  }
  .sns_section .sns_sheet .sns_sheet01 .sns12 .sns01 .sns_tag .sns_id, 
  .sns_section .sns_sheet .sns_sheet01 .sns34 .sns04 .sns_tag .sns_id {
    width: 100px;
    position: absolute;
    top: 5px; right: 5px;
    font-size: 0.8rem;
    color: white;
  }
  .sns_sheet .sns_sheet01 .sns02 .sns_tag,
  .sns_sheet .sns_sheet01 .sns03 .sns_tag {
    width: 100px; height: 30px;
    background-color: rgba(0, 0, 0, 0.6);
    position: relative;
  }
  .sns_section .sns_sheet .sns_sheet01 .sns12 .sns02 .sns_tag .sns_id,
  .sns_section .sns_sheet .sns_sheet01 .sns34 .sns03 .sns_tag .sns_id {
    position: absolute;
    top: 5px; right: 3px;
    font-size: 0.8rem;
    color: white;
  }

  .sns_sheet .sns_sheet02 {
    width: 100%;
  }
  .sns_section .sns_sheet .sns_sheet02 {
    position: relative;
  }
  .sns_section .sns_sheet .sns_sheet02 .sns_tag {
    width: 130px; height: 30px;
    background-color: rgba(0, 0, 0, 0.6);
    position: relative;
    position: absolute;
    top: 8px; left: 8px;
  }
  .sns_section .sns_sheet .sns_sheet02 .sns_tag .sns_id {
    position: absolute;
    top: 5px; right: 5px;
    font-size: 0.8rem;
    color: white;
  }
  .sns_sheet .sns_sheet03 {
    width: 100%;
  }
  .sns_sheet .sns_sheet03 .sns67 {
    display: flex;
  }
  .sns_sheet .sns_sheet03 .sns67 .sns06,
  .sns_sheet .sns_sheet03 .sns67 .sns07{
    position: relative;
  }
  .sns_section .sns_sheet .sns_sheet03 .sns_tag {
    width: 110px; height: 30px;
    background-color: rgba(0, 0, 0, 0.6);
    position: relative;
    position: absolute;
    top: 8px; left: 8px;
  }
  .sns_section .sns_sheet .sns_sheet03 .sns_tag .sns_id {
    position: absolute;
    top: 5px; right: 5px;
    font-size: 0.8rem;
    color: white;
  }

  /*---------map_section---------*/
  #chk_path {
    display: none;
  }
  #chk_path ~.path_title .lab_pathOpen {
    display: block;
  }
  #chk_path ~.path_title .lab_pathClose {
    display: none;
  }
  #chk_path:checked ~.path_title .lab_pathOpen {
    display: none;
  }
  #chk_path:checked ~.path_title .lab_pathClose {
    display: block;
  }
  #chk_path:checked ~.path_detail {
    display: block;
  }
  .map_section {
    width: 100%;
  }
  .map_section .map_detail {
    width: 100%;
    padding-top: 66%;
    background-color: #ccc;
  }
  .map_section .path .path_title {
    width: 100%; height: 50px;
    background-color: #f6f2ef;
    font-weight: bold;
    line-height: 50px;
    overflow: hidden;
  }
  .map_section .path .path_title label {
    display: block;
  }
  .map_section .path .path_title .path_txt {
    width: 80%; height: 50px;
    float: left;
    margin-left: 10px;
  }
  .map_section .path .path_title .path_arr {
    float: right;
    margin-right: 10px;
  }
  .map_section .path .path_detail {
    display: none;
    background-color: #f6f2ef;
    padding: 5%;
    line-height: 28px;
    font-size: 0.8rem;
  }
  .map_section .path .path_detail .detail_title {
    font-size: 1.1rem;
  } 
  .map_section .path .path_detail .public {
    padding-top: 20px;
  }
  .map_section .path .path_detail .air {
    padding-top: 20px;
  }
  .map_section .path .path_detail .train {
    padding-top: 20px;
  }
  
  /*--------notice----------*/
  .notice {
    width: 100%;
    display: flex;
    margin-top: 40px;
  }
  .notice div {
    width: 48.7%;
    border: 1px solid #ccc;
    box-sizing: border-box;
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .notice div:first-child {
    margin-right: 10px;
  }
  .recruit .recruit_title, 
  .press .press_title {
    width: 130px;
    float: left;
    margin-left: 10px;
  }

  .recruit .recruit_more,
  .press .press_more {
    width: 16px;
    float: right;
    margin-right: 10px;
  }
  .notice>div ul {
    padding-top: 30px;
  }
  .notice>div ul li {
    height: 16px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .notice>div ul li p{
    font-size: 0.6rem;
  }
  .notice>div ul li p.txt {
    width: 70%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    float: left;
  }
  .notice>div ul li p.date {
    float: right;
  }

  /*---------footer---------*/
  .footer {
    width: 100%;
  }
  .footer img {
    width: 100%;
  }
  /*--news_letter*/
  .news_letter {
    width: 100%; height: 50px;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  .news_letter .nl_title {
    float: left;
    margin-left: 10px;
    line-height: 30px;
    margin-top: 10px;
  }
  .news_letter .btn_subscribe {
    width: 120px; height: 30px;
    background-color: rgb(49, 49, 146);
    border-radius: 20px;
    font-weight: bold;
    color: #eee;
    text-align: center; line-height: 30px;
    float: right;
    margin-right: 20px;
    margin-top: 10px;
  }

  /*----more_info----*/
  #chk_info {display: none;}
  #chk_info ~.more_info .lab_infoClose {
    display: none;
  }
  #chk_info ~.more_info .lab_infoOpen {
    display: block;
  }
  #chk_info:checked ~.more_info .lab_infoClose {
    display: block;
  }
  #chk_info:checked ~.more_info .lab_infoOpen {
    display: none;
  }
  #chk_info:checked ~.more_info .moreInfo_sheet {
    display: block;
  }
  .more_info {
    width: 100%; height: 50px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background-color: #eee;
    position: relative;
  }
  .more_info label {
    display: block;
    width: 100%;
    line-height: 50px;
  }
  .more_info .txt {
    width: 70%;
    text-indent: 10px;
    float: left;
  }
  .more_info .arr {
    float: right;
    margin-right: 10px;
  }
  .moreInfo_sheet {
    display: none;
    position: absolute;
    top: 50px;
    padding: 10px 0;
    background-color: white;
    z-index: 999;
  }
  .moreInfo_sheet p {
    width: 50%; height: 24px;
    float: left;
    text-indent: 30px;
  }

  /*------rel_company------*/
  .footer .rel_company {
    width: 100%; height: 50px;
    border: 1px solid #ccc;
    background-color: white;
    box-sizing: border-box;
    position: relative;
  }
  .footer .rel_company p {
    text-indent: 10px;
    line-height: 50px;
  }
  .rel_company .btn_rel_more {
    display: none;
  }
  .footer .rel_company img {
    width: 100%;
  }
  .rel_company .rel_frame {
    width: 230px;
    overflow-y: hidden;
    position: absolute;
    top: 6px; right: 0;
  }
  .rel_company .rel_frame .rel_slide {
    width: 1000%;
    display: flex;
  }
  .rel_company ul li ul li {
    width: 110px;
    margin-right: 10px;
  }


  /*------mecenat------*/
  .footer .mecenat {
    width: 100%; height: 50px;
    background-color: white;
    border: 1px solid #ccc;
    box-sizing: border-box;
    position: relative;
  }
  .footer .mecenat p {
    text-indent: 10px;
    line-height: 50px;
  }
  .footer .mecenat .btn_mecenat_more {
    display: none;
  }
  .mecenat .mecenat_frame {
    width: 230px;
    overflow-y: hidden;
    position: absolute;
    top: 10px; right: 0;
  }
  .mecenat .mecenat_frame .mecenat_slide {
    width: 200%;
    display: flex;
  }
  .mecenat ul li ul li {
    width: 110px;
    margin-right: 10px;
  }

  /*--footer_info*/
  .footer_info {
    background-color: #eee;
    padding: 20px 10px;
  }
  .footer_info p {
    font-size: 0.7rem;
    color: #666;
    line-height: 20px;
    padding-bottom: 10px;
  }
  .footer_info span.t_span,
  .footer_info span.p_span {
    display: none;
  }
  .footer_info .footer_logo_box {
    width: 100%; 
    padding-bottom: 10%;
    display: flex;
    position: relative;
  }
  .footer_info .footer_logo_box .ft_logo01 {
    width: 44%;
    position: absolute;
    top: 0; left: 0;
  }
  .footer_info .footer_logo_box .ft_logo02 {
    width: 53%;
    position: absolute;
    top: 8px; right: 0;
  }
}


@media all and (min-width: 601px) {
  .header {
    height: 80px;
  }
  .header .logo_box {
    width: 240px;
  }
  .header .m_gnb_icon {
    width: 200px;
    margin-top: 16px;
    margin-right: 20px;
  }
  .header .m_gnb_icon li {
    width: 20px;
    margin: 0 8px;
    font-size: 2rem;
  }
  .header .m_gnb_icon .user_icon {
    position: absolute;
    top: 0; left: 0;
  }
  .header .m_gnb_icon .heart_icon {
    position: absolute;
    top: 0; left: 50px;
  }
  .header .m_gnb_icon .btn_box {
    position: absolute;
    top: 0; left: 124px;
  }
  .header .gnb .m_search_box {
    top: 90px;
  }
  .header .lnb_box {
    top: 90px;
  }
  /*-----visual_main-----*/
  .visual_main_box .visual_main .page {
    width: 98%;
    font-size: 1.2rem;
  }
  .vs_indi_box {
    position: relative;
    width: 100%; height: 80px;
  }
  .vs_indi {
    width: 510px;
    display: block;
    position: absolute;
    top: -80px; left: 50%;
    transform: translateX(-50%);
  }
  .vs_indi img {
    width: 100%;
  }
  .vs_indi li {
    width: 120px; 
    float: left;
    margin-right: 10px;
  }
  .vs_indi li:last-child {
    margin-right: 0;
  }


  /*---metaphor---*/
  .metaphor_box {
    height: 200px;
  }
  .metaphor_box .metaphor01 {
    width: 50%;
  }
  .metaphor_box .metaphor02 {
    width: 50%;
  }
  .metaphor_box .img_box {
    width: 90px; height: 90px;
  }

  .metaphor_box span {
    display: none;
  }

  /*------movie_list--------*/
  .m_movie_list .m_movie_box .movie_title_box .week_movie .down_arr {
    left: 35%;
  }
  .tablet_poster_box {
    display: block;
    width: 30%; height: 240px;
    border: 1px solid #ccc;
    border-right: none;
    box-sizing: border-box;
    position: absolute;
    top: 60px; right: 0;
    background-color: white;
    z-index: 9999;
  }

  .tablet_poster_box .poster_box img {
    width: 100%;
  }
  .tablet_poster_box .poster_slide {
    overflow-y: hidden;
    position: absolute;
    top: 10px;
  }

  .poster_box {
    display: flex;
    width: 800%; height: auto;
  }
  .tablet_poster_box .poster_slide .poster_box .poster_list .po_img {
    width: 64%;
    margin: 0 auto;
  }
  .tablet_poster_box .poster_slide .poster_box .poster_list .po_title {
    text-align: center;
  }
  /*-------trailer-------*/
  .trailer {
    display: flex;
    justify-content: space-between;
  }
  .trailer .movie_box {
    width: 60%;
    margin-right: 10px;
    padding-bottom: 10px;
  }
  .trailer .trailer_txt_box {
    width: 30%;
    order: -1;
  }
  /*-----recommend_program-----*/
  .recommend_program {
    height: 600px;
  }
  .recommend_program .program_outter {
    padding-top: 50%;
  }
  .recommend_program .program_outter .program_sheet .show_sheet {
    width: 99%;
  }
  .recommend_program .movie_pro_box {
    width: 527%;
  }

  .recommend_program .concert_pro_box {
    width: 400%;
  }
  .recommend_program .exhibition_pro_box {
    width: 66%;
    margin: 0 auto;
  }
  .recommend_program .movie_pro,
  .recommend_program .concert_pro {
    width: 33%;
  }
  
  .recommend_program .exhibition_pro {
    width: 50%;
  }
  /*------critic_section------*/
  .critic_section .critic_sheet {
    width: 98%;
  }
  .critic_section .critic_sheet .critic_12 {
    display: flex;
  }
  .critic_section .critic_sheet .critic {
    width: 50%;
    padding-top: 24%;
    margin: 5px;
  }
  .critic_section .critic_sheet .critic_34 {
    display: block;
    display: flex;
  }

  /*------event_section------*/
  .event_section .event {
    padding-top: 17.5%;
  }
  .event_section .event .event_slide {
    width: 455%;
  }


  /*-------sns_section-------*/
  .sns_section .sns_upper_box {
    display: flex;
  }
  .sns_section .sns_upper_box .sns_sheet01 {
    width: 67%;
  }
  .sns_section .sns_upper_box .sns_sheet02 {
    width: 33%;
  }

  /*-------map_section-------*/
  .map_section {
    display: flex;
    background-color: #f6f2ef;
  }
  .map_section .map_detail {
    width: 50%;
  }
  .map_section .path {
    width: 50%;
    order: -1;
  }
  .map_section .path .path_title {
    display: none;
  }
  .map_section .path .path_detail {
    display: block;
  }



  /*------rel_company------*/

  .footer .rel_company {
    height: 50px;
  }
  .rel_company .rel_frame {
    width: 340px;
    
  }
  .rel_company .rel_frame .rel_slide {
    width: 666%;
  }
  .rel_company ul li ul li {
    width: 110px;
  }


  /*------mecenat------*/




  /*----footer_info----*/
  .footer_info p {
    text-align: center;
    line-height: 12px;
    font-size: 0.8rem;
    padding-bottom: 20px;
  } 
  .footer_info span.t_span {
    display: block;
  }
  .footer_info span.m_span,
  .footer_info span.p_span {
    display: none;
  }
  .footer_info .footer_logo_box {
    width: 85%;
    margin: 0 auto;
  }

}



@media all and (min-width: 769px) {
  
  /*------header-------*/
  .outer_header {
    width: 100%; height: 120px;
    position: relative;
  }
  .inner_header {
    width: 100%; height: 100px;
    position: absolute;
    top: 0; left: 0;
  }
  .header {
    width: 100%; height: 100px;
    position: relative;
  }
  .header .gnb {
    width: 100%; height: 70px;
    overflow: hidden;
  }
  .header .gnb .m_gnb_icon {
    display: none;
  }
  .header .gnb .w_gnb {
    display: block;
    float: right;
  }
  .header .gnb .w_gnb li {
    display: inline-block;
    margin: 10px 0;
    padding: 0 10px;
    font-size: 0.7rem;
  }
 
  .header .gnb .w_gnb li .search_box {
    width: 130px;
    position: relative;

  }
 .header .gnb .w_gnb li .search_box .search{
    width: 100px;
    position: absolute;
    border: 1px solid #ccc;
    top: -6px; left: 0;
  }
  .header .gnb .w_gnb li .search_box .icon {
    width: 20px; height: 20px;
    position: absolute;
    top: -6px; right: 0;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    line-height: 20px;
    border-radius: 4px;
  }
  .header .gnb .w_gnb li .search_box .icon:active {
    color: white;
    background-color: black;
  }

  .header .lnb_box .m_lnb_sheet {
    display: none;
  }
  .lnb {
    width: 100%;
    display: flex;
    position: absolute;
    top: 90px; left: 50%;
    transform: translateX(-50%);
    z-index: 99999;
    background-color: white;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
  }
  .lnb>li {
    width: 14.28%;
    float: left;
    z-index: 99999;
    text-indent: 16px;
  }
  .lnb li ul {
    height: 180px;
    background-color: white;
    display: none;
    padding-top: 20px;
  }

  .lnb li ul li.on {border-bottom: 1px solid black;}
  .lnb li ul li a {display: block;}
  .lnb li li a:hover,
  .lnb li li a:focus {
   font-weight: bold;
border-bottom: 1px solid black;}

  .fixed {
    padding-top: 10px;
    position: fixed;
    top: 0; left: 50%;
    transform: translateX(-50%);
    border: 1px solid black;
  }


  /*-----visual_main-----*/
  .visual_main_box {
    width: 100%;
    overflow: hidden;
  }
  .visual_main>li {
    display: none;
  }
  .visual_main_box .visual_main {
    width: 100%; 
  }
  .visual_main_box .visual_main .vs_main {
    width: 100%;
    position: relative;
    display: block;
  }


  .visual_main_box .visual_main .page {
    width: 98%;
    font-size: 1.5rem;
  }
  .vs_indi_box {
    position: relative;
    width: 100%; 
  }
  .vs_indi_cover {
    width: 100%; height: 80px;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    bottom: 120px;
  }
  .vs_indi {
    width: 510px;
    display: block;
    position: absolute;
    top: 10px; left: 50%;
    transform: translateX(-50%);
  }
  .vs_indi img {
    width: 100%;
  }
  .vs_indi li {
    width: 120px; 
    float: left;
    margin-right: 10px;
  }
  .vs_indi li:last-child {
    margin-right: 0;
  }    
  .vs_indi {
    width: 630px;
    bottom: 10px;
  }
  .vs_indi li {
    width: 150px;
    opacity: 0.5;
  }
  .vs_indi li.bright {
    opacity: 1;
  }
  .vs_bar {
    width: 96%;
    display: block;
    display: flex;
    position: absolute;
    bottom: 90px; left: 50%;
    transform: translateX(-50%);
    justify-content: space-between;
  }

  .vs_bar li {
    width: 24%; height: 6px;
    background-color: rgba(255, 255, 255, 0.507);
    margin-right: 4px;
  }
  .vs_bar li:last-child {
    margin-right: 0;
  }
  .vs_bar li.on {
    background-color: rgb(49, 49, 146);
  }
  /*----movie_list----*/
  .m_movie_list {
    display: none;
  }
  .w_movie_list_box {
    display: block;
  }
  .w_movie_list {
    display: block; height: 300px;
    width: 100%;
    display: flex;
  }
  .w_movie_list_title{
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 1.3rem;
  }
  .w_movie_list>div {
    width: 13%; height: 30px;
    background-color: rgb(49, 49, 146);
  }
  .w_movie_list .calendar {
    width: 22%;
  }
  .w_movie_list>div>p {
    color: white;
    text-align: center;
    line-height: 30px;
  }
  .w_movie_list>div ul {
    height: 180px;
    background-color: white;
    border: 1px solid #ddd;
    box-sizing: border-box;
    padding-top: 20px;
  }
  .w_movie_list .calendar .cal_date {
    width: 100%;
    flex-wrap: wrap;
    display: flex;
  }
  .w_movie_list .calendar .cal_date li {
    width: 14.25%; 
    text-align: center;
    font-size: 0.9rem;
  }
  .cal_date li:nth-child(7n) a {
    color: blue;
  }
  .cal_date li:nth-child(7n+1) a {
    color: red;
  }

  .w_movie_list .tech li,
  .w_movie_list .small li,
  .w_movie_list .indi_plus li,
  .w_movie_list .middle li,
  .w_movie_list .sky li,
  .w_movie_list .out li {
    width: 100%;
    overflow: hidden;
  }
  .w_movie_list .tech li p.mov_title,
  .w_movie_list .small li p.mov_title,
  .w_movie_list .indi_plus li p.mov_title,
  .w_movie_list .middle li p.mov_title,
  .w_movie_list .sky li p.mov_title,
  .w_movie_list .out li p.mov_title {
    width: 40%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .w_movie_list>div ul li .time {
    float: left;
    font-size: 0.8rem;
  }

  .w_movie_list>div ul li .age {
    width: 10px;
    float: left;
    font-size: 0.8rem;
    transform: translateY(4px);
    padding: 0 3px;
  }
  .w_movie_list>div ul li .age img {
    width: 100%;
  }
  .w_movie_list>div ul li .mov_title {
    float: left;
    font-size: 0.8rem;
  }

  /*---recommend_program---*/
  .recommend_program {
    position: relative;
  }
  .recommend_program .rec_title {
    font-size: 1.5rem;
  }

  .recommend_program .rec_pro_top {
    width: 100%; height: 30px;
    position: relative;
  }
  .recommend_program .rec_pro_top .program_tab {
    position: absolute;
    top: 0; right: 120px;
  }
  .recommend_program .rec_pro_top .btn_box {
    display: block;
    position: absolute;
    top: 0; right: 10px;
  }
  .recommend_program .rec_pro_top .btn_box div {
    width: 30px; height: 30px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    color: #666;
    text-align: center;
    line-height: 30px;
  }
  .recommend_program .rec_pro_top .btn_box .btn_rec_left{
    float: left;
  }
  .recommend_program .rec_pro_top .btn_box .btn_rec_right{
    float: left;
  }
  .recommend_program .program_outter .program_sheet .show_sheet {
    overflow: hidden;
  }
  .recommend_program .program_outter {
    padding-top: 35%;
  }
  .recommend_program .movie_pro_box {
    width: 400%;
  }
  .recommend_program .concert_pro_box {
    width: 300%;
  }
  .recommend_program .exhibition_pro_box {
    width: 50%;
    margin: 0 auto;
  }
  .recommend_program .movie_pro,
  .recommend_program .concert_pro {
    width: 25%;
  }

  .recommend_program .exhibition_pro {
    width: 50%;
  }


  /*---critic_section---*/
  .critic_section .critic_top_box {
    display: block;
    width: 100%; height: 30px;
    position: relative;
  }
  .critic_section .critic_top_box .critic_btn_box {
    position: absolute;
    top: 0; right: 10px;
  }
  .critic_section .critic_top_box .critic_btn_box div {
    width: 30px; height: 30px;
    border: 1px solid #ddd; 
    box-sizing: border-box;
    color: #666;
    text-align: center;
    line-height: 30px;
    float: left;
  }
  .critic_frame {
    width: 100%; height: 350px;
    overflow: hidden;
    position: relative;
  }
  .critic_frame .critic_sheet {
    width: 1000%;
    position: absolute;
    top: 0; left: 0;
  }
  .critic_frame .critic_sheet>div {
    width: 10%;
  }
  .critic_12,
  .critic_34,
  .critic_56, 
  .critic_78, 
  .critic_910, 
  .critic_1112, 
  .critic_1314, 
  .critic_1516, 
  .critic_1718, 
  .critic_1920 {
    display: block;
    float: left;
    display: flex;
  }

  .critic_section .m_btn {
    display: none;
  }
  
  /*------event_section----*/
  .event_section {
    position: relative; height: 300px;
  }
  .event_section .event_top_box {
    display: block;
    width: 100%; height: 30px;
    position: relative;
  }
  .event_section .event_top_box .event_btn_box {
    position: absolute;
    top: 0; right: 10px;
  }
  .event_section .event_top_box .event_btn_box div {
    width: 30px; height: 30px;
    border: 1px solid #ddd; 
    box-sizing: border-box;
    color: #666;
    text-align: center;
    line-height: 30px;
    float: left;
  }
  .event_section .event {
    width: 97%;
    margin: 0 auto;
    overflow: hidden;
    position: absolute;
    top: 100px; left: 10px;
  }

  /*-----sns_section-----*/
  .sns_section {
    margin-bottom: 50px;
  }
  .sns_section .sns_sheet01>div>div {
    overflow: hidden;
  }
  .sns_section .sns_sheet01>div>div:hover img { 
    transform: scale(1.03);
  }  
  .sns_section .sns_sheet02 {
    overflow: hidden;
  }
  .sns_section .sns_sheet02:hover img{
    transform: scale(1.03);
  }
  .sns_section .sns_sheet03>div>div {
    overflow: hidden;
  }
  .sns_section .sns_sheet03>div>div:hover img {
    transform: scale(1.03);
  }
/*-------map_section-------*/
  .wrap {
    width: 100%;
    display: flex;
  }
  .map_section {
    width: 66%;
    display: flex;
    background-color: #f6f2ef;
  }
  .map_section .map_detail {
    width: 50%;
  }
  .map_section .path {
    width: 50%;
    order: -1;
  }
  .map_section .path .path_title {
    display: none;
  }


/*------notice------*/
  .notice {
    display: block;
    width: 35%;
    flex-wrap: wrap;
  }
  .notice div {
    width: 100%;
    margin-right: 0;
  }

/*----footer_top-----*/
.footer_top {
  width: 100%; height: 150px;
  display: flex; 
  margin-top: 100px;
}
/*-----news_letter-----*/
.footer_top .news_letter {
  width: 25%; height: 140px;
  border: none;
  position: relative;
  font-weight: normal;
  padding-top: 10px;
}

.news_letter .nl_title {
  width: 150px;
  position: absolute;
  top: 4px; left: 50%;
  transform: translateX(-50%);
}
.news_letter .btn_subscribe {
  height: 40px;
  line-height: 40px;
  position: absolute;
  bottom: 30px; left: 50%;
  transform: translateX(-50%);
}

/*----more_info----*/
.footer_top .more_info {
  width: 30%; height: 0;
  order: -2;
  border: none;
}
.footer_top .more_info .label_box {
  display: none;
}
.footer_top .more_info .moreInfo_sheet {
  display: block;
  top: 0;
}

.footer_top .more_info .moreInfo_sheet p { 
  width: 50%; height: 30px;
  text-indent: 16px;
  font-size: 0.75rem;
  line-height: 30px;
}


/*----ci_box----*/
.footer_top .ci_box {
  width: 45%; height: 140px;
  order: -1;
  display: flex;
  flex-wrap: wrap;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
}
/*----rel_company----*/
.footer .rel_company {
  height: 40px;
  position: relative;
  border: none;
  margin-top: 10px;
}
.footer .rel_company p {
  position: absolute;
  top: 0; left: 0;
  font-size: 0.9rem;
}
.footer .rel_company .btn_rel_more {
  display: block;
  width: 20px; height: 20px;
  text-align: center;
  line-height: 20px;
  border: 1px solid #ddd;
  color: #666;
  position: absolute;
  top: 14px; left: 90px;
}

.rel_company .rel_frame {
  width: 220px;
  overflow: hidden;
}
.rel_company .rel_frame .rel_slide {
  width: 1000%;
}
.rel_company ul li ul li {
  width: 110px;
  margin-right: 10px;
}
/*----mecenat----*/
.footer .mecenat {
  border: none; height: 40px;
  position: relative;
  margin-bottom: 10px;
}
.footer .mecenat p {
  position: absolute;
  top: 0; left: 0;
  font-size: 0.9rem;
}
.footer .mecenat .btn_mecenat_more {
  display: block;
  width: 20px; height: 20px;
  text-align: center;
  line-height: 20px;
  border: 1px solid #ddd;
  color: #666;
  position: absolute;
  top: 14px; left: 90px;
}
.mecenat .mecenat_frame {
  width: 220px;
  overflow: hidden;
}


/*----footer_info----*/
  .footer_info p {
    text-align: center;
    line-height: 12px;
    font-size: 1rem;
    padding-bottom: 20px;
  } 
  .footer_info span.p_span {
    display: block;
  }
  .footer_info span.m_span,
  .footer_info span.t_span {
    display: none;
  }

  .footer_info .footer_logo_box {
    width: 500px;
    margin: 0 auto;
  }
  .footer_info .footer_logo_box .ft_logo01 {
    width: 240px;
  }
  .footer_info .footer_logo_box .ft_logo02 {
    width: 240px;
    position: absolute;
    top: 8px; right: 0;
  }
}


@media all and (min-width: 1025px) {


  .header .gnb .w_gnb li .search_box {
    width: 200px;
    position: relative;

  }
  .header .gnb .w_gnb li .search_box .search{
    width: 170px;
    position: absolute;
    border: 1px solid #ccc;
    top: -6px; left: 0;
  }
  /*-------visual_main--------*/

  .vs_indi_cover {
    height: 100px;
  }
  .vs_indi {
    width: 830px;
    bottom: 10px;
  }
  .vs_indi li {
    width: 200px;
    opacity: 0.5;
  }
  /*-----trailer-----*/
  .trailer {
    width: 1024px;
  }
  /*--rec_program--*/



  .recommend_program {
    height: 700px;
  }
  .recommend_program .program_sheet .title {
    width: 240px;
    font-size: 1.1rem;
  }
  .recommend_program .program_sheet .period {
    font-size: 1.1rem;
  }



  /*------sns------*/
  .sns_section {
    width: 1024px; height: 1000px;
    margin: 0 auto;
  }
  .map_section .map_detail {
    width: 100%;
    padding-top: 50%;
    background-color: #ccc;
  }


  .rel_company .rel_frame {
    width: 340px;
    
  }
  .rel_company .rel_frame .rel_slide {
    width: 666%;
  }
  .rel_company ul li ul li {
    width: 110px;
  }




}
@media all and (min-width: 1105px) {




  /*------sns------*/
  .sns_section {
    width: 1104px;
  }
  
}
@media all and (min-width: 1360px) {
  .header {
    width: 1360px;
    margin: 0 auto;
    padding-top: 20px;
  }
  .header .gnb {
    height: 70px;
  }
  .lnb {
    width: 1360px;
    margin: 0 auto;
  }
  .visual_main_box {
    width: 1360px;
    margin: 0 auto;
  }
  .vs_indi_box {
    width: 1360px;
    margin: 0 auto;
  }
  .metaphor_box {
    width: 1360px; height: 200px;
    margin: 0 auto;
  }

  .w_movie_list {
    width: 1360px; height: 400px;
    margin: 0 auto;
  }
  .w_movie_list>div {
    height: 50px;
  }
  .w_movie_list>div ul {
    height: 200px;
  }
  .trailer_section {
    margin-bottom: 200px;
  }

  .recommend_program {
    width: 1360px; height: 850px;
    margin: 0 auto;
  }
  .recommend_program .program_sheet .title {
    width: 325px;
    font-size: 1.1rem;
  }
  .critic_section {
    width: 1360px; height: 600px;
    margin: 0 auto;
  }
  .event_section {
    width: 1360px; height: 500px;
    margin: 0 auto;
  }

  .wrap {
    width: 1360px; height: 520px;
    margin: 0 auto;
    margin-bottom: 200px;
  }

  .footer_top {
    width: 1360px;
    margin: 0 auto;
  }
  .footer_info {
    width: 1360px;
    margin: 0 auto;
  }
}
/*
.header {
  width: 1360px;
  margin: 0 auto;
  margin-top: 20px;
}
.header .gnb {
  height: 80px;
}
.header .gnb .logo_box {
  float: left;
}
.header .gnb ul {
  float: right;
}
.header .gnb ul li{
  display: inline-block;
  margin: 0 10px;
}
.header .gnb ul li .search_box {
  width: 200px;
  position: relative;
}
.header .gnb ul li .search {
  width: 200px; height: 20px;
  border: 1px solid black;
  position: absolute;
  top: -16px; right: 0;
}
.header .gnb ul li .search input {
  width: 180px; height: 20px;
  float: left;
  border: none;
}
.header .gnb ul li .search .icon {
  float: left;
}
.lnb {
  height: 30px;
  border-bottom: 1px solid black;
}

.lnb>ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.lnb ul li {
  
}
*/